.container_view_profile{
    position: absolute;
    cursor: pointer;
    height: 100vh;
    width: 100%;
}

.container-profile{
    background-color: white;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 10% auto;
    border-top: 30px solid var(--primary-color);
}

.profile{
    display: flex;
    padding: 20px;
    margin: 2%;
    gap: 20px;
}
.img-profile img{
    width: 200px;
    height: auto;
}

.info-profile {
    display: flex;
    justify-content: space-between; /* Distribuye elementos a los extremos */
    gap: 20px;
    margin: 2%;
    width: 100%;
}


.info h2{
    color: var(--tertiary-color);
    font-size: 30px;
}

.info h1{
    white-space: nowrap;
    color: var(--primary-color);
    font-size: 30px;
}

.info p{
    color: var(--secondary-color);
    font-size: 20px;
    padding-left: 10px;
}

.excuses_sent{
    margin-left: auto;
    margin-right: 10%;
}

.excuses_sent h2{
    white-space: nowrap;
    color: var(--tertiary-color);
    font-size: 30px;
}

.excuses_sent p{
    color: var(--primary-color);
    font-size: 30px;
    text-align: center;
}

.record-excuse-profile h2{
    padding: 20px 5px;
    color: var(--tertiary-color);
}
.record-excuse-profile thead{
    align-items: center;
    text-align: center;
    color: white;
    height: 50px;
    font-size: 15px;
    background-color: var(--primary-color);
}

.record-excuse-profile table{
    width: 100%;
    border-collapse: collapse;
    color: rgb(128, 128, 128);
}

