{% extends 'base.html' %}

{% block title %}Olvide mi Contraseña{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='FRONTEND/CSS/user/recover.css') }}">
{% endblock %}

{% block content %}
<div class="container-recover">
        
    <form action="{{ url_for('recover.recover_password') }}" method="POST" enctype="multipart/form-data">
        <div class="text-recover">
            <div class="{{ error_class }}">
                <h2>{{message}}</h2>
            </div>
            <h1>Recupera tu coontraseña</h1>
            <p>Porfavor ingrese su nueva contraseña.</p>
        </div>
        <div class="input-recover">
            <input type="password" placeholder="Nueva contraseña" name="new_password" id="newPassword" required>
            <input type="password" placeholder="Confirmar nueva contraseña" name="confirm_password" id="confirmNewPassword" required>
            
        </div>
        <div class="button">
            <button type="submit">
                Recuperar
            </button>
        </div>

        <div class="links">
            <a href="{{ url_for('login.login') }}">Volver al inicio</a>
            <p>|</p>
            <a href="{{ url_for('contact.contact') }}">Contáctanos</a>
        </div>
    </form>
</div>


{% endblock %}