.container-profile{
    width: 100%;
    margin: 10px;
}

.img-fondo{
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/ASSETS/IMG/HomeImg/fondo_home-cortado.png');
    border: 1px solid black;
    height: 400px;
    padding: 20px;
    display: grid;
}

.img-fondo img{
    cursor: pointer;
    width: 30px;
    height: auto;
    justify-self: end;
    margin-right: 10px;
}

.record-excuse{
    width: 90%;
    margin: 5% 5%;
}

.record-excuse p{
    color: white;
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 10px;
    width: 180px;
}

.record-excuse h2{
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    width: 230px;
    margin-top: 10px;
}

@media (max-width: 1200px){

    .container-profile{
        width: 100%;
        margin: 0px;
    }
    .img-fondo{
        display: none;
    }

    .table-record {
        max-width: 100%;
        overflow-y: auto;  /* Agrega scroll vertical */
      }

    .table-record table{
      width: 100%;
      border-collapse: collapse;
    }

    .table-record table tbody td{
        min-width: 250px;
    }
}