.container-record{
    margin: 3%;
}

.menu-record{
    background-color: var(--primary-color);
    padding: 10px;
}

.menu-record{
    display: flex;
    color: white;
}

.container-update{
    display: flex;
    margin-left: auto;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.container-update img{
    width: 30px;
    height: 30px;
}

.titulo-record{
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-record img{
    width: 30px;
    height: 30px;
}

.seeker-record{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
}

.seeker-record img{
    width: 25px;
    height: 25px;
}

.seeker-record input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
}

.table-record img{
    width: 25px;
    height: 25px;
    vertical-align: middle; 
}

.table-record thead{
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    height: 50px;
    font-size: 15px;
    background-color: rgb(239, 250, 254);;
}

.table-record td{
    padding: 0 30px;
}

.table-record table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

.table-record table tbody td {
    padding: 15px;
    font-size: 15px;
    text-align: center;
    max-width: 250px;
    color: #333; /* Color de texto más oscuro */
    font-weight: 600;
}

.table-record table tbody td:nth-child(2) {
    color: var(--primary-color);
}

.table-record table tbody td:nth-child(2) span {
    background-color: #b1d3ff;
    padding: 5px 14px;
    border-radius: 20px;
}

.table-record table tbody td:nth-child(3) {
    color: #e16557;
    min-width: 250px;
}

.table-record table tbody td:nth-child(3) span{
    background-color: rgb(254, 254, 150);
    padding: 10px 10px;
    border-radius: 30px;
}

.table-record table tbody td:nth-child(4) {
    width: 100px;
    white-space: nowrap;   /* Evita que el texto se divida en varias líneas */
    overflow: hidden;      /* Oculta el texto que se sale del contenedor */
    text-overflow: ellipsis; /* Muestra los tres puntos (...) al final */
    cursor: pointer;
}

.table-record table tbody td:nth-child(4):hover {
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
    white-space: normal;       /* Permite que el texto se divida en varias líneas */
    overflow: visible;         /* Muestra todo el contenido */
    text-overflow: clip;       /* Quita los tres puntos */
    position: absolute;   
    font-size: 20px;
    z-index: 10;               /* Asegura que el contenido se muestre por encima de otros elementos */
}

.table-record table tbody td:nth-child(6) {
    color: var(--primary-color);
    font-weight: 500; 
}

.table-record table tbody td:nth-child(6) span{
    background-color: #b1d3ff;
    padding: 10px 15px;
    border-radius: 30px;
}

.table-record table tbody td:nth-child(7){
    min-width: 150px;
}

.table-record table tbody td:nth-child(7) span{
    color: var(--primary-color);
    background-color: #b1d3ff;
    
    padding: 6px;
    border-radius: 10px;
}

.table-record table tbody td:nth-child(7) span img{
    margin-right: 5px;
}

.table-record table tbody td:nth-child(8){
    min-width: 130px;
}
.table-record table tbody td:nth-child(8) span {
    color: white;
    padding: 7px;
    border-radius: 30px;
}

.table-record table tbody td:nth-child(8) span img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.aprobado{
    background-color: rgb(36, 183, 36);
}

.rechazado{
    background-color: #e16557;
}

.pendiente{
    background-color: #6daaf8;
}


.pagination {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin-top: 5%;
    font-size: 20px;
}

.pagination span {
    color: var(--primary-color);
    margin: 0 40px;
}

.pagination a img {
    margin-top: 20%;
    width: 40px;
    height: auto;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 140, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.paya {
  position: absolute;
  display: none;
  width: 1000px;
  height: 1000px;
  z-index: 9999;
  background-color: #6da9f87e;
  padding: 8px;
  border-radius: 45%;
  margin-top: 25%;
  cursor: pointer;
  left: 90%;
  animation: pulse 2s infinite;
  opacity: 0.5;
  transition: transform 0.6s ease, left 0.6s ease; /* transición suave */
}

.paya.rotated {
  transform: rotate(180deg); /* 50% rotación */
}

@media (max-width: 1400px){

    .table-record {
        max-width: 100%;
        overflow-y: auto;  /* Agrega scroll vertical */
        max-height: 100vh;
      }

    .paya{
        display: block;
    }
    .table-record table{
      width: 100%;
      border-collapse: collapse;
    }

    .table-record table tbody td{
        min-width: 250px;
    }
}
