/* Estilos para el contenedor del menú */
.container-menu-side {
    width: 27%;
    height: 120vh;
    background-color: var(--primary-color);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el menú lateral */
.sidebar {
    width: 100%;
    padding-top: 20px;
}

.sidebar ul{
    list-style: none;
    color: #000;
    padding: 25px;
    margin: 5%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;
    border-bottom: 1px solid #cccccc;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar ul li:first-child {
    margin-bottom: 35px;
}

.sidebar ul li:not(:last-child) {
    margin-bottom: 20px;
}

.sidebar ul li:hover {
    background-color: #2da44e;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar ul li i {
    margin-right: 20px;
}

.sidebar ul li i img {
    width: 35px;
    height: 35px;
}

/* Estilos para el texto dentro de los elementos */
.sidebar ul li span {
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
}

/* Estilos para el logo en la barra lateral */
.logo-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 30px 0;
    border-bottom: 2px solid #555;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-sidebar img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.logo-sidebar h2 {
    font-size: 22px;
    color: #0061c2;
    font-weight: bold;
} 

.sidebar button{
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}



@media (max-width: 1200px){
    .container-menu-side{
        width: 100%;
        position: absolute;
        margin: 0;
        padding: 0;
        box-shadow: none;
        height: 100vh;
    }
}